.fade-slide-in-left-enter {
  animation: fadeSlideLeft 600ms ease-out;
}

@keyframes fadeSlideLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-slide-in-right-enter {
  animation: fadeSlideRight 600ms ease-out;
}

@keyframes fadeSlideRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
