<div class="properties-as-cards max-w-7xl mx-auto py-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    @for (property of productStateService.properties(); track $index) {
      <div (click)="openViewPropertyModal(property)" class="cursor-pointer">
        <app-property-card [property]="property"></app-property-card>
      </div>
    }
  </div>
</div>
<app-modal
  [isVisible]="isViewPropertyModalOpen"
  (close)="closeModal()"
  [closeOnBackdropClick]="true"
  [showCloseButton]="false"
>
  @if (isViewPropertyModalOpen) {
    <app-view-property
      [property]="selectedProperty"
      (closeModal)="closeModal()"
    ></app-view-property>
  }
</app-modal>
